/* color palette from <https://github.com/vuejs/theme> */
$bgColor:red;
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;

  --font26:26px;
}


@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Optima';
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow:hidden;
}
.text-28-bold {
  font-size: 28px;
  font-weight: bold;
  line-height:32px;
}
.text-28-medium {
  font-size: 28px;
  font-weight:500;
  line-height:32px;
}
.text-28-normal {
  font-size: 28px;
  font-weight: 400;
  line-height:32px;
}

.text-24-bold {
  font-size: 24px;
  font-weight: bold;
  line-height:28px;
}
.text-24-medium {
  font-size: 24px;
  font-weight:500 ;
  line-height:28px;
}
.text-24-normal {
  font-size: 24px;
  font-weight: 400;
  line-height:28px;
}

.text-22-bold {
  font-size: 22px;
  font-weight: bold;
  line-height:26px;
}
.text-22-medium {
  font-size: 22px;
  font-weight:500;
  line-height:26px;
}
.text-22-normal {
  font-size: 22px;
  font-weight: 400;
  line-height:26px;
}

.text-20-bold {
  font-size: 20px;
  font-weight: bold;
  line-height:24px;
}
.text-20-medium {
  font-size: 20px;
  font-weight:500;
  line-height:24px;
}
.text-20-normal {
  font-size: 20px;
  font-weight: 400;
  line-height:24px;
}

.text-18-bold {
  font-size: 18px;
  font-weight: bold;
  line-height:22px;
}
.text-18-medium {
  font-size: 18px;
  font-weight:500;
  line-height:22px;
}
.text-18-normal {
  font-size: 18px;
  font-weight: 400;
  line-height:22px;
}

.text-16-bold {
  font-size: 16px;
  font-weight: bold;
  line-height:20px;
}
.text-16-medium {
  font-size: 16px;
  font-weight:500;
  line-height:20px;
}
.text-16-normal {
  font-size: 16px;
  font-weight: 400;
  line-height:20px;
}

.text-14-bold {
  font-size: 14px;
  font-weight: bold;
  line-height:18px;
}
.text-14-medium {
  font-size: 14px;
  font-weight:500;
  line-height:18px;
}
.text-14-normal {
  font-size: 14px;
  font-weight: 400;
  line-height:18px;
}
.text-13-bold {
  font-size: 13px;
  font-weight: bold;
  line-height:18px;
}
.text-13-medium {
  font-size: 13px;
  font-weight:500;
  line-height:18px;
}
.text-13-normal {
  font-size: 13px;
  font-weight:400;
  line-height:18px;
}

.text-12-bold {
  font-size: 12px;
  font-weight: bold;
  line-height:14px;
}
.text-12-medium {
  font-size: 12px;
  font-weight:500;
  line-height:14px;
}
.text-12-normal {
  font-size: 12px;
  font-weight: 400;
  line-height:14px;
}

.bodyStyle{  padding:25px 30px; display:block; background:#ECECEC; border-radius:30px;}
.contentHeight{ height:calc(100vh - 298px); overflow:auto; }